<%# app/views/process_files/indec.html.erb %>

<p id="notice" class="info"><%= notice %></p>
<%= render 'layouts/alerts' %>

<h1>Process files</h1>
<div>
  Something: <%= @something %>
  <%= button_to 'Process Files', :action => 'start_process', :remote => true %>
</div>
