<%# app/views/process_files/indec.html.erb %>
<%= render 'layouts/alerts' %>

<h1>Process files</h1>
<div>
  <%= button_to 'Process Files', { :action => 'start_process' }, data: { confirm: "Are you sure to process all unprocessed files ?" } %>
</div>
